---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import { Icon } from 'astro-icon/components'
import Picture from "astro/components/Picture.astro";


const amici = [
  {
    name: "ACLI",
    caption: "Le Acli, Associazioni Cristiane Lavoratori Italiani, sono un’associazione di laici cristiani che, attraverso una rete di circoli, servizi, imprese, progetti ed associazioni specifiche, contribuisce da più di 60 anni a tessere i legami della società, favorendo forme di partecipazione e di democrazia.",
    link: "https://aclicuneo.it/",
    logo: "https://aclicuneo.it/wp-content/uploads/2023/05/Acli_Cuneo_ico.png", 
    tag: "associazione"
  },
  {
    name: "OfficineLux",
    caption: "Da diciotto anni l’associazione si occupa di promuovere la conoscenza e la fruizione del cinema d’essai e di favorire la diffusione di opere dall’elevato valore culturale. La scelta a produzioni italiane, europee e mondiali, ma anche spettacoli di teatro e rassegne inclusive per i centri diurni per disabili.",
    link: "http://www.cineclublumiere.it/chisiamo.php",
    logo: "img/cinema.gif",
    tag: "associazione"
  },
  {
    name: "Comune di Centallo",
    caption: "Il Comune di Centallo rappresenta l'ente pubblico locale che amministra la città di Centallo, offrendo servizi alla comunità e promuovendo iniziative culturali e sociali.",
    link: "https://www.comune.centallo.cn.it/",
    logo: "https://www.comune.centallo.cn.it/portals/2016/Skins/skinXhtml/Images/stemma.webp",
    tag: "ente pubblico"
  },
  {
    name: "Proloco San Biagio",
    caption: "La Proloco San Biagio si impegna a valorizzare le tradizioni locali e promuovere eventi per la comunità.",
    link: "https://www.facebook.com/ProLocoS.Biagio/?locale=it_ITx",
    logo: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlzD7CvGY6zCnx735GM4yMViIYD0Nn6r6n3A&s",
    tag: "proloco"
  },
  {
    name: "Proloco Boschetti",
    caption: "La Proloco Boschetti si dedica alla promozione del territorio e delle sue tradizioni, organizzando manifestazioni ed eventi locali.",
    link: "#",
    logo: "img/boschetti.jpg", 
    tag: "proloco"
  },
  {
    name: "Proloco Roata Chiusani",
    caption: "La Proloco Roata Chiusani lavora per il coinvolgimento della comunità locale, offrendo eventi culturali e sociali.",
    link: "https://www.instagram.com/proloco_roata_chiusani/",
    logo: "https://scontent-mxp2-1.xx.fbcdn.net/v/t39.30808-6/455297394_122124407378339018_9019036900110802625_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=E0pHp_XPnsMQ7kNvgEOnoFm&_nc_ht=scontent-mxp2-1.xx&_nc_gid=Ahcjda7kEW9Z9Hsx08BXpZ1&oh=00_AYA_8QY6zj5imF2Iy_pf8dHPgP5fisrWplDZGtxGevLD5A&oe=6709D12B", 
    tag: "proloco"
  },
  {
    name: "Avis",
    caption: "Avis è l’associazione italiana dei donatori di sangue, attiva nella promozione della donazione volontaria e gratuita di sangue.",
    link: "https://www.avis.it/",
    logo: "https://www.avis.it/wp-content/uploads/2023/04/MARCHIO_AVIS.svg", 
    tag: "organizzazione di volontariato"
  },
  {
    name: "Croce Rossa Centallo",
    caption: "La Croce Rossa Italiana sezione di Centallo si impegna a fornire assistenza sanitaria, soccorso e promuove attività sociali per il benessere della comunità.",
    link: "https://www.cricentallo.it/",
    logo: "https://www.cricentallo.it/wp-content/uploads/2021/12/Cri-Centallo-Logo.png",
    tag: "organizzazione di volontariato"
  },
  {
    name: "Centallo Viva",
    caption: "Centallo Viva è un'associazione locale impegnata nella promozione del benessere della comunità e nella realizzazione di eventi culturali e sociali.",
    link: "https://www.facebook.com/p/Centallo-Viva-100064720027556/",
    logo: "img/centalloviva.png", 
    tag: "proloco"
  }
];

  
---

<Layout title="Amici">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Amici del Movi</Fragment>
      <Fragment slot="desc">
        Associazioni ed enti che supportano e collaborano attivamente con il Movi
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-5 mt-8">
      {amici.map((item) => 
      <div class="card bg-base-100 w-96 shadow-xl ">
        {item.logo &&
        <figure class="h-20 w-full p-1 pt-3 text-left ">
        
        <img
          src={item.logo}
          width={1920}
          height={1080}
          alt={item.name}
          class="object-contain w-full h-full"
        />
        </figure>}
        <div class="card-body">
          <h2 class="card-title"><a href={item.link} target="_blank"  class="inline-flex items-center gap-1 underline underline-offset-4	hover: underline-offset-7">
            <span>{item.name}</span>
            <Icon  name="lucide:arrow-up-right" /></a></h2>

          <p>{item.caption}</p>
          <div class="card-actions justify-start">
            <div class="badge badge-outline mt-1 ">{item.tag}</div>
          </div>
        </div>
      </div>
      )}
  </Container>
</Layout>
