---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("progetti", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const recentBlogEntries = publishedBlogEntries.slice(0, 4); 
---

<section class="container mx-auto">
    <h1 class="text-3xl font-bold pb-6 underline decoration-sky-500/30">I nostri progetti</h1>
    <main class="container">
   

      <ul class="grid gap-16 max-w-4xl pl-0">
        {
          recentBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover object-center bg-white"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      
                      
                      <time
                        class="text-gray-400"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toLocaleDateString('it-IT', {
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                        })}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>

    <div class="text-center mt-16">
        <a
          href="/progetti"
          class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
          >Vedi tutti i progetti <span class="animate-bounce">→</span></a
        >
      </div>  
  </div>
</section>
