---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { Icon } from "astro-icon/components";

const { entry, title } = Astro.props;
entry.fields.startingDate = new Date(entry.fields.startingDate);
const monthNames = [
    "gennaio", "febbraio", "marzo", "aprile", "maggio", "giugno",
    "luglio", "agosto", "settembre", "ottobre", "novembre", "dicembre"
];
---
<section class="my-5">
    
    <div class="lg:flex drop-shadow-lg rounded-xl">
      <div class="bg-blue-600 rounded-l-lg lg:w-2/12 py-5 shadow-inner">
        <div class="text-center tracking-wide px-3">
          <div class="text-white font-bold text-4xl">{entry.fields.startingDate.getDate()}</div>
          <div class="text-white font-normal text-2xl">
            {monthNames[entry.fields.startingDate.getMonth()]} {entry.fields.startingDate.getFullYear()}
          </div>
        </div>
      </div>
      <div class="w-full lg:w-11/12 xl:w-full px-1 md:px-2 py-4 sm:py-5 bg-white tracking-wide">
        <div class="flex flex-row lg:justify-start justify-center">
          <div class="text-gray-700 font-medium text-sm text-center md:!text-left px-2">
            <Icon class="text-gray-700 w-4 h-4 inline mb-1" name="uil:clock" />
            {entry.fields.startingDate.toLocaleTimeString('it-IT', { hour: '2-digit', minute: '2-digit' })}
          </div>
        </div>
        <div class="font-semibold text-gray-800 text-xl text-center md:text-left px-2">
          {entry.fields.eventName}
        </div>
        <div class="text-gray-600 font-medium text-sm pt-1 text-center md:text-left   px-2">
          {entry.fields.caption}
        </div>
      </div>
      <div class="flex flex-row items-start w-full lg:w-1/3 bg-white lg:justify-end justify-center px-2 py-4 lg:px-0">
        <span class="tracking-wider text-gray-600 bg-gray-200 px-2 text-sm rounded leading-loose mx-2 font-semibold">
          Sport
        </span>
      </div>
    </div>
  </section>
  