---
import Card from "@components/ui/card2.astro";
import introCards from '../assets/intro-cards.json';
    
---

<section class="my-20">
    <h1 class="text-3xl font-bold pb-6 underline decoration-pink-500/30">Il nostro impegno</h1>
    <div class="grid lg:grid-cols-2 md:gap-8 gap-10 md:grid-cols-1">
      {introCards.map((card) => (
        <Card
          title={card.title}
          caption={card.caption}
          imagePath={card.img_link}
          link={card.articles_link}
          ico={card.ico}
        />
      ))}
    </div>

</section>
