---
import Container from "./Container.astro"
import teamData from './Data/team.json';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';



---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-8/12 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-lime">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">A cosa si giocherà?</h2>
        </div>
    </div>
</div>

<div id="accordion-open" data-accordion="close" class="text-black grid gap-4 my-6">
    {
    teamData.process.map((processItem) => (
    <h2 id={processItem.hid}>
    <div class="w-full px-14 py-10 bg-white focus:bg-lime rounded-[45px] shadow border border-black flex-col justify-start items-start gap-7 inline-flex">
        <button type="button" class="w-full flex justify-between items-center" data-accordion-target={processItem.target} aria-expanded="true" aria-controls={processItem.bid}>
            <div class="justify-start items-center gap-6 flex">
                
                <h3 class="text-lg md:text-3xl font-medium">{processItem.title}</h3>
            </div>
            <div>
                <img data-accordion-icon src="/team/plus.svg" alt="" class="justify-items-end w-10 h-10" aria-hidden="true"/>
            </div>
        </button>
        <div class="text-lg font-normal" id={processItem.bid} aria-labelledby={processItem.hid}>
            <hr class="w-full border border-black mb-6"/>
            <p class="mb-2 text-gray-500 text-sm md:text-lg">{processItem.description}</p>
        </div>
    </div>
    </h2>     
    ))
    }
</div>


   




</Container>